<script>
  // Utility to add a class to an element
  function createElementWithClass(tag, className, textContent = null) {
    const element = document.createElement(tag);
    element.classList.add(className);
    if (textContent) element.textContent = textContent;
    return element;
  }

  function modifyFeedbacks(xblock){
    // Handle feedback messages
    const feedbackMessages = xblock.querySelector('.message');
    const problemResponseWrapper = xblock.querySelector('.wrapper-problem-response');
    if (feedbackMessages) {
        const feedbackPoints = feedbackMessages.querySelector('.feedback-hint-multi');
        const feedbackMessagesContainer = createElementWithClass('div', 'feedback-messages-container');
        feedbackMessagesContainer.appendChild(createElementWithClass('span', 'feedback-messages-text', 'Feedback'));
        if (feedbackPoints) feedbackMessagesContainer.appendChild(feedbackPoints);

        // Insert feedbackMessagesContainer as the last element of problemResponseWrapper
        problemResponseWrapper.appendChild(feedbackMessagesContainer);
        feedbackMessages.remove();
    }
  }

  function modifyResponseLabels(xblock){
    // Select all label elements with the 'response-label' class
    xblock.querySelectorAll('.response-label').forEach(label => {
      if (label.classList.contains('choicegroup_incorrect')) {
        if (label.querySelector('.response-status-text')) return;
        const incorrectSpan = createElementWithClass('span', 'response-status-text', 'Wrong Answer');
        incorrectSpan.style.color = '#721c24';
        incorrectSpan.style.fontWeight = '600';
        label.appendChild(incorrectSpan);
      } else if (label.classList.contains('choicegroup_correct')) {
        if (label.querySelector('span.status.correct')) {
          label.querySelector('span.status.correct').remove();
        }

        if (label.querySelector('.response-status-text')) {
          const existingText = label.querySelector('.response-status-text').textContent;
          if (existingText === 'Correct Answer') return;
          label.querySelector('.response-status-text').remove();
        }
        const correctSpan = createElementWithClass('span', 'response-status-text', 'Correct Answer');
        correctSpan.style.fontWeight = '600';
        correctSpan.style.color = '#155724';
        label.appendChild(correctSpan);
      }
    });
  }

  function modifyExplanation(xblock, status){
    // show the explanation
    const showButton = xblock.querySelector(".show:not([data-clicked])");
    if (showButton) {
        showButton.click();
        showButton.dataset.clicked = "true";
    }

    // Handle explanation
    const problemResponseWrapper = xblock.querySelector('.wrapper-problem-response:not([data-modified])');
    if (!problemResponseWrapper) return;

    const indicator = xblock.querySelector('.indicator-container');
    const solutionSpan = xblock.querySelector('.solution-span');

    // Create and append problem status container
    const problemStatusContainer = createElementWithClass('div', 'problem-status', null);
    problemStatusContainer.classList.add(status);

    const statusIndicatorContainer = createElementWithClass('div', 'status-indicator-container');
    const statusText = createElementWithClass('span', 'status-text', status.charAt(0).toUpperCase() + status.slice(1));

    statusIndicatorContainer.appendChild(indicator);
    statusIndicatorContainer.appendChild(statusText);
    problemStatusContainer.appendChild(statusIndicatorContainer);

    if (solutionSpan) {
        const explanationContainer = createElementWithClass('div', 'explanation-container');
        explanationContainer.appendChild(solutionSpan);
        problemStatusContainer.appendChild(explanationContainer);
    }

    // Insert problemStatusContainer after feedbackMessagesContainer if it exists, otherwise as the last child
    const feedbackMessagesContainer = problemResponseWrapper.querySelector('.feedback-messages-container');
    if (feedbackMessagesContainer) {
        feedbackMessagesContainer.insertAdjacentElement('afterend', problemStatusContainer);
    } else {
        problemResponseWrapper.appendChild(problemStatusContainer);
    }
    problemResponseWrapper.dataset.modified = "true";
  }

  function modifyInputStatus(xblock, disabled){
    const inputElements = xblock.querySelectorAll('input');
    inputElements.forEach(inputElement => {
      inputElement.disabled = disabled;
    });
  }

  // Function to reset response labels
  function resetResponseLabels() {
    // Reset response labels logic here
    const checkBoxes = document.querySelectorAll('input[type="checkbox"]');
    checkBoxes.forEach(checkBox => {
      if (checkBox.disabled) {
        return;
      }

      const existingListener = checkBox.getAttribute('data-listener-attached');
      if (existingListener) {
        return;
      }

      checkBox.setAttribute('data-listener-attached', 'true');
      checkBox.addEventListener('click', function(event) {
        const fieldset = event.target.closest('fieldset');
        if (fieldset) {
          fieldset.querySelectorAll('label').forEach(label => {
            const responseStatusText = label.querySelector('.response-status-text');
            if (responseStatusText) {
              responseStatusText.remove();
            }
          });
        }

        const wrapperProblemResponse = event.target.closest('.wrapper-problem-response');
        if (wrapperProblemResponse) {
          // Remove existing feedback messages container if it exists
          const existingFeedbackMessagesContainer = wrapperProblemResponse.querySelector('.feedback-messages-container');
          if (existingFeedbackMessagesContainer) {
            existingFeedbackMessagesContainer.remove();
          }

          // Remove existing problem status container if it exists
          const existingProblemStatusContainer = wrapperProblemResponse.querySelector('.problem-status');
          if (existingProblemStatusContainer) {
            existingProblemStatusContainer.remove();
          }
        }
      });
    });
  }

  // Modify Xblock problem function
  function modifyProblemXblock(){
    const xblockDivs = document.querySelectorAll('.xblock.xblock-student_view.xblock-student_view-problem.xmodule_display.xmodule_ProblemBlock.xblock-initialized[data-course-id][data-init][data-runtime-class][data-runtime-version][data-block-type="problem"][data-usage-id][data-request-token][data-graded][data-has-score]');
    xblockDivs.forEach(xBlock => {
      modifyFeedbacks(xBlock);

      // Check for status of the problem and if it is unanswered then skip
      const statusElement = xBlock.querySelector('.indicator-container .status .sr');
      if (!statusElement) return;
      const status = statusElement.textContent.trim();
      if (!['correct', 'incorrect'].includes(status)) return;

      modifyExplanation(xBlock, status);

      const submitButton = xBlock.querySelector('.submit');
      const submitButtonStatus = submitButton.disabled;
      modifyInputStatus(xBlock, submitButtonStatus);
      modifyResponseLabels(xBlock);
    });
  }
  
  // Initialize the script
  window.onload = function () {
    modifyProblemXblock();
    // Set up MutationObserver to monitor dynamically added elements
    const observer = new MutationObserver(() => {
      modifyProblemXblock();
      resetResponseLabels();
    });

    observer.observe(document.body, {
      childList: true,
      subtree: true,
    });
  };
</script>

<style>
  .choicegroup_correct{background-color:#d4edda;}
  .choicegroup_incorrect{background-color:#f8d7da;}
  .problem-status,.feedback-messages-container{display:flex;flex-direction:column;padding:.5em;border-radius:.25em;margin-bottom:1em;}
  .feedback-messages-container{background-color:#FFFBEB;border:1px solid #DEB887;}
  .problem-status.correct{background-color:#d4edda;color:#155724;}
  .problem-status.incorrect{background-color:#f8d7da;color:#721c24;}
  .status-indicator-container{display:flex;flex-direction:row;align-items:center;}
  .status-text,.feedback-messages-text{margin-left:.5em;font-weight:bold;}
  .explanation-container{margin-left:2.5rem;}
  .solution-span>span{margin:0!important;}
  .feedback-hint-multi{margin-left:1em;}
  .hint-text{position:relative;margin-left:1em;}
  .hint-text::before{content:"•";position:absolute;left:-1em;top:50%;transform:translateY(-50%);color:black;}
  .response-label{display:inline-flex!important;flex-direction:row;gap:.5em;align-items:center;}
</style>

<%page expression_filter="h"/>
<%!
from django.utils.translation import ngettext, gettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%namespace name='static' file='static_content.html'/>

<h3 class="hd hd-3 problem-header" id="${ short_id }-problem-title" aria-describedby="${ id }-problem-progress" tabindex="-1">
  ${ problem['name'] }
</h3>

<div class="problem-progress" id="${ id }-problem-progress"></div>

<div class="problem">
  ${ HTML(problem['html']) }
  <div class="action">
    <input type="hidden" name="problem_id" value="${ problem['name'] }" />
    % if demand_hint_possible:
      <div class="problem-hint">
        <%include file="problem_notifications.html" args="
         notification_name='hint',
         notification_type='problem-hint',
         notification_icon='fa-question',
         notification_message=''"
       />
      </div>
    % endif

    <div class="problem-action-buttons-wrapper">
      % if demand_hint_possible:
      <span class="problem-action-button-wrapper">
          <button type="button" class="hint-button problem-action-btn btn-link btn-small" data-value="${_('Hint')}" ${'' if should_enable_next_hint else 'disabled'}>${_('Hint')}</button>
      </span>
      % endif
      % if save_button:
      <span class="problem-action-button-wrapper">
          <button type="button" class="save problem-action-btn btn-link btn-small" data-value="${_('Save')}">
              <span aria-hidden="true">${_('Save')}</span>
              <span class="sr">${_("Save your answer")}</span>
          </button>
      </span>
      % endif
      % if attempts_used and reset_button:
      <span class="problem-action-button-wrapper">
          <button type="button" class="reset problem-action-btn btn-link btn-small" data-value="${_('Reset')}"><span aria-hidden="true">${_('Reset')}</span><span class="sr">${_("Reset your answer")}</span></button>
      </span>
      % endif
    </div>
    <div class="submit-attempt-container">
      <button type="button" class="submit btn-brand" data-submitting="${ submit_button_submitting }" data-value="${ submit_button }" data-should-enable-submit-button="${ should_enable_submit_button }" aria-describedby="submission_feedback_${short_id}" ${'' if should_enable_submit_button else 'disabled'}>
          <span class="submit-label">${ submit_button }</span>
      </button>

      % if submit_disabled_cta:
        % if submit_disabled_cta.get('event_data'):
          <button class="submit-cta-link-button btn-link btn-small" onclick="emit_event(${submit_disabled_cta['event_data']})">
            ${submit_disabled_cta['link_name']}
          </button>
          <span class="submit-cta-description" tabindex="0" role="note" aria-label="description">
            <span data-tooltip="${submit_disabled_cta['description']}" data-tooltip-show-on-click="true"
              class="fa fa-info-circle fa-lg" aria-hidden="true">
            </span>
          </span>
          <span class="sr">(${submit_disabled_cta['description']})</span>
        % else:
            <form class="submit-cta" method="post" action="${submit_disabled_cta['link']}">
              <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
              % for form_name, form_value in submit_disabled_cta['form_values'].items():
                  <input type="hidden" name="${form_name}" value="${form_value}">
              % endfor
              <button class="submit-cta-link-button btn-link btn-small">
                ${submit_disabled_cta['link_name']}
              </button>
              <span class="submit-cta-description" tabindex="0" role="note" aria-label="description">
                <span data-tooltip="${submit_disabled_cta['description']}" data-tooltip-show-on-click="true"
                  class="fa fa-info-circle fa-lg" aria-hidden="true">
                </span>
              </span>
              <span class="sr">(${submit_disabled_cta['description']})</span>
            </form>
        % endif
      % endif
      <div class="submission-feedback ${'cta-enabled' if submit_disabled_cta else ''}" id="submission_feedback_${short_id}">
        ## When attempts are not 0, the CTA above will contain a message about the number of used attempts
        % if attempts_allowed and (not submit_disabled_cta or attempts_used == 0):
          ${ngettext("You have used {num_used} of {num_total} attempt", "You have used {num_used} of {num_total} attempts", attempts_allowed).format(num_used=attempts_used, num_total=attempts_allowed)}
        % endif
        % if grading_method:
          <div>${Text(_("Grading method: {grading_method}")).format(grading_method=grading_method)}</div>
        % endif
        <span class="sr">${_("Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.")}</span>
      </div>

      % if answer_available:
        <button style="display:none;" type="button" class="show problem-action-btn btn-link btn-small" aria-describedby="${ short_id }-problem-title"><span class="show-label">${_('Show answer')}</span></button>
      % endif
    </div>
  </div>
    <%include file="problem_notifications.html" args="
      notification_type='warning',
      notification_icon='fa-exclamation-circle',
      notification_name='gentle-alert',
      notification_message=''"
    />
    % if answer_notification_type:
        % if 'correct' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='success',
                notification_icon='fa-check',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'incorrect' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='error',
                notification_icon='fa-close',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'partially-correct' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='success',
                notification_icon='fa-asterisk',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'submitted' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='general',
                notification_icon='fa-info-circle',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
    % endif
    <%include file="problem_notifications.html" args="
      notification_type='warning',
      notification_icon='fa-save',
      notification_name='save',
      notification_message=save_message,
      is_hidden=not has_saved_answers"
    />
    <%
        notification_message=_('Answers are displayed within the problem')
    %>
    <%include file="problem_notifications.html" args="
      notification_type='general',
      notification_icon='fa-info-circle',
      notification_name='show-answer',
      notification_message=notification_message,
      is_hidden=True"
    />
</div>